<!DOCTYPE html>
<html>
    <head>
        <title>
            Project
        </title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                        <li><a href="{% url 'list_projects' %}">My projects</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </thead>
                <tbody>
                    {% if project.tasks.all|length > 0 %}
                        {% for detail in project.tasks.all %}
                            <tr>
                                <td>{{ detail.name }}</td>
                                <td>{{ detail.assignee }}</td>
                                <td>{{ detail.start_date }}</td>
                                <td>{{ detail.due_date }}</td>
                                <td>{{ detail.is_complete|yesno:"yes,no"}}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <p>This project has no tasks</p>
                    {% endif %}
                </tbody>
            </table>
        </main>
    </body>
</html>